@font-face {
  font-family: Inter;
  src: url(/social-links-profile-main/assets/fonts/static/Inter-Regular.ttf) format("ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

ul{
  list-style-type: none;
}

body{
  background-color: hsl(0, 0%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.container{
  background-color: hsl(0, 0%, 12%);
  max-width: 400px !important;
  width: 100%;
  padding: 20px;
 padding-left: 0;
  border-radius: 10px; 
}

.container img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: block;
  margin-inline: auto;
  margin-bottom: 1.25rem;
}

.container h1{
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}
.container h1 span{
  color: hsl(75, 94%, 57%);
  display: block;
  font-size: 1rem;
  margin: 0.5rem 0 1rem; 
}

.container p{
  color: #fff;
  text-align: center;
}

 .container ul{
   display: grid;
  gap: 0.5rem;
 margin-top: 2rem; 
} 

.container ul li button{
  background-color: hsl(0, 0%, 18%);
  width: 100%;
  padding: 1rem;
  color: #fff;
  border: none;
  font-weight: bold;
  outline: none;
  cursor: pointer; 
  border-radius: 0.5rem; 
  transition: all 0.15s ease-in-out;
}

.container ul li button:hover{
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

.attribution {
  font-size: 13px;
  text-align: center;
  color: #fff;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
